VERSION = '1.0.0'

manifest {
  description = 'NER fine-tunning workflow' 
  author = 'Yasmmin Martins'
  nextflowVersion = '>=23.10.0'
  mainScript = 'main.nf'
  version = VERSION
}

params.help_message = """
Paprec workflow v${VERSION}

Usage:
    nextflow run main.nf --runningConfig /path/to/config.json --mode all


Input:
    * --runningConfig: the path to a json file containing the workflow and execution configuration
    * --mode: the goal of the execution ( 'preprocessing': treat original .ann and .txt files to transform into NER model inputs, 'training': only training with the selected datasets and methods, 'test': only test on the test split, 'prediction': test the trained models in new text files, 'all': execute both tasks )

Output:
    * Datasets in three different versions of splitting (no split, train-test splits and train-valid-test splits)
    * Trained and fine-tunned models
    * Summary statistics and performance analysis reports
"""

process {

    executor = 'local'

    cpus = 4
}

profiles {
  standard {
    process.container = 'quay.io/nextflow/paprec:v1.0.0'
  }

  conda {
    conda.enabled = true
    conda.channels = 'salilab,anaconda,conda-forge,bioconda,defaults'
    process.conda = "./nerworkflow.yml"
  }
  
  singularity {
    process.container = 'quay.io/nextflow/bioteque:v1.1.0'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
}